.body-content {
  margin-top: 80px !important;
}

.body-content p strong a {
  color: #b7000e !important;
}

.body-content p strong a:hover {
  color: #1c287d !important;
}

.body-content p a {
  color: #b7000e !important;
}

.body-content p a:hover {
  color: #1c287d !important;
}

@media only screen and (min-width: 46.063em) {
  .body-content .body-container {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100% !important;
  }
}

.search-header {
  margin: 40px 0 20px;
  font: 700 60px/60px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
    sans-serif !important;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.search-section .search-row {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1140px;
  float: left;
}

.search-section .area-field {
  width: 50%;
  float: left;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

#id_region,
#id_city,
#id_list_price_min,
#id_list_price_max {
  height: 45px;
  white-space: nowrap;
}

.styled-select select,
.on-device select[multiple="multiple"],
a.multiSelect,
.miranda-lb .search dd select {
  height: 45px !important;
  padding: 0 25px 0 10px !important;
  font-size: 14px !important;
  font-weight: 400;
}

.search-container {
  background: #b7000e99 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hero-search-submit input[type="submit"] {
  margin: 0 !important;
  border: 0 !important;
  border-collapse: collapse !important;
  outline: none !important;
  text-decoration: none !important;
  background: linear-gradient(#1c287d, #000080) top/200% no-repeat !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hero-search-submit input[type="submit"]:hover {
  font-size: 22px !important;
  background: linear-gradient(#1c287de9, #000080e9) top/200% no-repeat !important;
}

.hoz-s .search-section .search-modifiers.even {
  padding-left: 0;
  padding-right: 0;
  width: 40%;
  float: left;
}

.search-section .search-modifiers.even {
  padding-left: 0;
  padding-right: 0;
  width: 40%;
  float: left;
}

.search-section .price-to {
  display: none;
}

.search-section .hero-search-submit {
  width: 20% !important;
  float: left !important;
}

.hero-search-submit {
  width: 20% !important;
  float: left !important;
}

.search-section .hs-submit {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  padding-bottom: 30px !important;
  padding-top: 15px !important;
}

.search-container.styled-select {
  width: 100%;
}

.search-container label,
.search-container .price-to {
  display: none;
}

.search-section .price-field {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 50%;
  float: left;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.search-section .hs-submit + .hs-submit {
  display: none !important;
}

.sidebar {
  display: none !important;
}

#quicksearch-section {
  text-align: center;
}
.hs-row {
  text-align: center;
}
.search-section .property-type {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: none;
  display: none !important;
}

.search-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
  float: none;
  width: 95% !important;
  margin: auto;
}

.search-section .b-field {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 25%;
  float: left;
  display: none !important;
}

.search-section .price-to {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 16.66667%;
  float: left;
  display: none !important;
}

.hero-search .hs-row,
.content-page-header .hs-row {
  margin-top: 130px !important;
}

.search-section {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  display: flex;
  margin-top: 180px;
}

.mobile-address-search #address_search_container {
  margin-top: 15px !important;
  margin-bottom: 0px !important;
}

/* .hero-search .hs-row:after,
.content-page-header .hs-row:after {
  float: left !important;
} */

.search-container.styled-select select {
  border: 0;
}

@media only screen and (max-width: 1160px) {
  .search-container.styled-select {
    width: 93% !important;
    margin: auto;
  }
}

@media only screen and (min-width: 811px) {
  .hs-row .small-12.columns {
    margin-top: 35px;
  }
  /* .search-header:after {
    content: "\a There's no place like home";
    white-space: pre;
    font-style: italic;
    font-size: 70px;
    line-height: 90px;
    font-family: "Brush Script MT", cursive;
  } */
  .search-section {
    margin-top: 35px !important;
  }
  .body-content {
    margin-top: 40px !important;
  }
}

@media only screen and (max-width: 810px) {
  .hero-search .hs-row,
  .content-page-header .hs-row {
    margin-top: -1px !important;
  }
  .body-content {
    margin-top: 0 !important;
  }
  .search-header {
    margin: 40px 0 20px;
    font: 700 50px/50px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif !important;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  /* .search-header:after {
    content: "\a There's no place like home";
    white-space: pre;
    font-style: italic;
    font-size: 60px;
    line-height: 90px;
    font-family: "Brush Script MT", cursive;
  } */
  .search-section {
    margin-top: 276px !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 737px) {
  #quicksearch-section {
    margin-top: -210px !important;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .hero-search .hs-row,
  .content-page-header .hs-row {
    margin-top: 90px !important;
  }
}

@media only screen and (max-width: 736px) and (min-width: 684px) {
  #quicksearch-section {
    background: url(https://t2.realgeeks.media/thumbnail/wN0Qi9_HUQkqNtxELapCvRqnR8w=/fit-in/0x720/https://u.realgeeks.media/marcfiorerealestate/mainbanner.jpg)
      no-repeat 50% 50% !important;
    background-size: cover !important;
    margin-top: -180px !important;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .search-header {
    margin-top: 160px !important;
    margin: 40px 0 20px;
    font: 600 50px/50px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif !important;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  /* .search-header:after {
    content: "\a There's no place like home";
    white-space: pre;
    font-style: italic;
    font-size: 55px;
    line-height: 80px;
    font-family: "Brush Script MT", cursive;
  } */
  .search-section .hs-submit {
    margin-top: 5.5px;
  }
}

@media only screen and (max-width: 683px) {
  #quicksearch-section {
    background: url(https://t2.realgeeks.media/thumbnail/wN0Qi9_HUQkqNtxELapCvRqnR8w=/fit-in/0x720/https://u.realgeeks.media/marcfiorerealestate/mainbanner.jpg)
      no-repeat 50% 50% !important;
    background-size: cover !important;
    margin-top: -180px !important;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  /* .search-header:after {
    content: "\a There's no place like home";
    white-space: pre;
    font-style: italic;
    font-size: 53px;
    line-height: 80px;
    font-family: "Brush Script MT", cursive;
  } */
  .search-section .hero-search-submit {
    width: 100% !important;
    float: left !important;
  }
  .search-section .hs-submit {
    margin-top: 5.5px;
  }
  .search-section .search-row {
    width: 100% !important;
  }
  .search-section .search-modifiers.even {
    width: 100%;
  }
  .search-section .area-field {
    padding-bottom: 0px !important;
    padding-top: 20px !important;
  }
  .search-section .price-field {
    padding-bottom: 0px !important;
    padding-top: 20px !important;
  }
  .search-section .hs-submit {
    width: 50% !important;
    padding-bottom: 15px !important;
    padding-top: 0px !important;
  }
  .hero-search-submit input[type="submit"] {
    font: 500 20px/37px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif;
  }
  .search-section .hs-submit + .hs-submit {
    display: block !important;
  }
  .hero-search-submit a {
    padding-bottom: 2px;
    position: relative;
    bottom: 2px;
    height: 46.2px;
    color: white;
    border-bottom: 2px solid white;
    font: 400 16px/46.2px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif;
  }
  .hero-search-submit a:hover {
    color: #1c287d;
    border-bottom: 2px solid #1c287d;
  }
  .search-header {
    margin-top: 185px !important;
  }
  .styled-select select,
  .on-device select[multiple="multiple"],
  a.multiSelect,
  .miranda-lb .search dd select {
    height: 35px !important;
    padding: 0 25px 0 10px !important;
    font-size: 14px !important;
    font-weight: 400;
  }
}

@media only screen and (max-width: 681px) and (min-width: 620px) {
  .search-header {
    margin-top: 160px !important;
    margin: 40px 0 20px;
    font: 600 45px/45px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif !important;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
}

/* @media only screen and (max-width: 619px) {
  .search-header:after {
    display: none;
  }
} */

@media only screen and (max-width: 425px) {
  .body-content {
    margin-top: 0px !important;
  }
  #quicksearch-section {
    margin-top: -180px !important;
  }
  .search-header {
    margin: 40px 0 20px;
    font: 500 45px/45px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif !important;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (min-width: 46.063em) {
  .body-content .sidebar-true {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100% !important;
    float: left;
  }
}

/* Property list */
ul.pagination li a {
  color: #1c287d;
  background: white;
  border-radius: 30px;
  padding: 2px 10px;
  border: 1px solid #1c287d;
}

ul.pagination li a:hover {
  color: #fff;
  background: #1c287d;
  border-radius: 30px;
  padding: 2px 10px;
  border: 1px solid #1c287d;
}

ul.pagination li a.current {
  color: #fff;
  background: #1c287d;
  border-radius: 30px;
  padding: 2px 10px;
  border: 1px solid #1c287d;
}

ul.pagination li a.current:hover {
  color: #1c287d;
  background: #fff;
  border-radius: 30px;
  padding: 2px 10px;
  border: 1px solid #1c287d;
}

.body-content .disclaimer {
  display: none !important;
}

.property .address:hover {
  color: #1c287d !important;
}

@media only screen and (max-width: 46em) and (orientation: portrait) {
  .pagination_wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .property .address {
    color: #b7000e !important;
  }
  .property .address .building_name {
    display: none !important;
  }
  .body-content .disclaimer {
    margin: 0 !important;
  }
  .toggleNav {
    background: #b7000e !important;
    border: 0 !important;
  }
}

@media only screen and (min-width: 46.063em) {
  .row.property.featured.collapse {
    width: calc(100% / 3 - 60px / 3);
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 20px;
    float: left;
    box-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.18);
    background-color: #fff;
  }
  .property .property-thumb {
    width: 100%;
    padding-left: 0px !important;
    padding-bottom: 20px !important;
  }
  .property img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  .property .property-detail-section {
    width: 100%;
    overflow: hidden;
  }
  .property p {
    display: none;
  }

  .property {
    border-top: 1px solid #e0e0e0;
    padding: 0px !important;
  }

  .property .address {
    font: bold 18px/18px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif;
    color: #b7000e;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
    float: left !important;
    text-overflow: ellipsis;
  }

  .property .price {
    color: #444;
    font: bold 20px/20px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif;
    width: 100%;
    float: left !important;
    transition: all 0.15s ease;
  }

  .property .property-details ul {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-overflow: hidden !important;
    overflow: hidden !important;
  }

  .property .property-detail-section {
    padding-left: 0 !important;
  }

  .property .property-details ul .detail {
    border: none !important;
  }

  .property .property-details ul .detail .number,
  .property .property-details ul .detail .detail-title {
    display: inline;
  }

  .property .property-details ul .detail {
    padding-left: 0 !important;
  }

  .property .address .building_name {
    display: none;
  }

  .body-content .fp-header {
    font: 500 34px/34px "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, Arial,
      sans-serif;
  }

  .footer-top-nav {
    background: white;
  }

  .property .property-details ul .detail:nth-child(4) {
    display: none !important;
  }
}

/* footer */
.footer-top-nav {
  background: white;
}

.main-footer {
  background: #fff !important;
  padding-bottom: 1px !important;
}

.main-footer .footer-section:last-child {
  border-right: 0;
  padding: 20px !important;
}

.main-footer .footer-section:last-child {
  width: 100% !important;
  text-align: center;
  background: 0 0;
  padding-bottom: 20px !important;
  margin-top: 20px;
}

.main-footer a {
  color: #b7000e !important;
  margin: auto;
  text-align: center;
}

.main-footer a:hover {
  color: #1c287d !important;
  margin: auto;
  text-align: center;
}

.main-footer ul {
  margin: 0;
  display: inline-block;
  width: 50%;
  margin-top: 0px;
}

.main-footer li {
  width: 25% !important;
  float: left;
  text-align: center !important;
}

.main-footer a:hover {
  color: #000080 !important;
}

.footer-top-nav li a span {
  color: #b7000e !important;
  font-weight: 700;
}

.footer-top-nav li a span:hover {
  color: #000080 !important;
}

.footer-top-nav li:hover {
  background: white !important;
}

.main-footer:after {
  content: "";
  display: block;
  background: url(https://u.realgeeks.media/marcfiorerealestate/footer_img.png)
    0 0/80% no-repeat;
  height: 300px;
  max-width: 1170px;
  margin: 20px auto auto;
  background-position-x: center;
  background-position-y: bottom;
  padding-top: 0 !important;
}

.main-footer .footer-section {
  border-right: 0 !important;
  text-align: center;
  margin-top: 20px;
}

.main-footer .footer-section:last-child {
  margin: auto !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

[class*="column"] + [class*="column"]:last-child {
  float: right !important;
  height: auto !important;
}

.rg-footer {
  display: none;
}

@media only screen and (min-width: 46.063em) {
  .medium-4 {
    width: 100% !important;
  }
  .footer-top-nav li {
    padding: 25px 13px !important;
  }
}

@media only screen and (max-width: 450px) {
  .main-footer:after {
    height: 150px !important;
  }
}

@media only screen and (max-width: 450px) {
  .main-footer:after {
    height: 150px !important;
  }
}

@media only screen and (max-width: 737px) {
  .main-footer li {
    width: 50% !important;
    float: left;
    text-align: center !important;
  }
  .main-footer:after {
    height: 150px !important;
  }
}

@media only screen and (max-width: 46em) {
  .footer-top-nav .bottomNav li a {
    color: #b7000e;
    font-weight: 700;
  }
  .footer-top-nav .bottomNav li a:hover {
    color: #1c287d;
  }
  .footer-top-nav .bottomNav {
    margin-top: 0px !important;
  }
  .footer-top-nav .bottomNav li {
    border-bottom: 0px !important;
    border: 0px !important;
  }
  .footer-top-nav .bottomNav li:hover {
    background: #808080 !important;
  }
}

/* .hero-search .hs-row:after,
.content-page-header .hs-row:after {
  clear: both;
  display: block !important;
} */

/* nav bar */

a img {
  border: 0 !important;
  /* display: none !important; */
}

.logo a img {
  display: none !important;
}

nav.shrunk img {
  display: none;
}

.hero-search .hs-row:after,
.content-page-header .hs-row:after {
  display: none !important;
}

.nav-container {
  max-width: 1900px !important;
}

.logo {
  background: url(https://u.realgeeks.media/marcfiorerealestate/FMRC-Logo.png) 0
    center no-repeat;
}

nav.shrunk .nav li:last-child:after {
  background-image: url(https://u.realgeeks.media/marcfiorerealestate/FMRC-Logo.png);
}

div.small-12.columns.verify-header:before {
  content: "";
  display: block;
  background: url(https://u.realgeeks.media/marcfiorerealestate/FMRC-Logo.png) !important;
  background-position-y: top !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 40px;
  margin-top: 20px;
}

.estimate-header:before {
  content: "";
  display: block;
  background: url(https://u.realgeeks.media/marcfiorerealestate/FMRC-Logo.png) !important;
  background-position-y: top !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 40px;
  margin-top: 20px;
}

.logo {
  background-size: 100% !important;
  width: 45px;
  height: 50px !important;
  left: 20px !important;
  top: 7px;
  padding: 0 !important;
  position: relative;
}

nav.scrolled.unshrunk .nav {
  height: 25px !important;
  top: 0 !important;
  bottom: 0;
  margin: auto;
  left: 85px !important;
}

nav.top-nav .user-contact-icons li i {
  color: #b7000e !important;
}

nav.top-nav .user-contact-icons li i:hover {
  color: #1c287d !important;
}

nav.top-nav a {
  color: #b7000e !important;
  font-weight: 700;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: #78020d !important;
  font-size: 18px !important;
}

nav.top-nav a:hover {
  color: #1c287d !important;
}

nav.shrunk .nav li {
  border-bottom: 0 !important;
}

@media only screen and (max-width: 450px) {
  nav.top-nav .logo {
    position: fixed;
    z-index: 201 !important;
    left: 15px !important;
    top: 0px;
    background: url(https://u.realgeeks.media/marcfiorerealestate/FMRC-Logo.png)
      0 center no-repeat;
    background-size: 75% !important;
  }
  nav.top-nav .user-contact-icons li {
    display: none;
  }
  nav.top-nav {
    height: 50px !important;
    width: 100%;
    border-bottom: none;
    position: fixed !important;
    background: white !important;
  }
  nav.top-nav .menu-icon {
    position: absolute;
    right: 15px !important;
    top: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    margin: auto;
    width: auto !important;
    display: flex !important;
  }
  nav.top-nav .menu-icon a {
    height: 100%;
    margin: 0 !important;
  }
  nav.top-nav .user-info {
    position: fixed;
    cursor: pointer;
    height: 50px;
    z-index: 200;
    border-bottom: none;
    right: 50px;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: auto !important;
    top: 0;
    left: auto !important;
  }
  nav.top-nav .user-info .inner {
    z-index: 200;
    margin: 0;
    height: auto;
    color: #b7000e !important;
    text-align: center;
    left: 0;
    width: 100%;
    padding: 10px !important;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    position: relative;
  }
}

@media only screen and (max-width: 1070px) {
  .logo {
    background-size: 100% !important;
  }
}

@media only screen and (max-width: 737px) {
  .main-footer .footer-section:last-child h3 {
    text-align: center;
  }
  nav.shrunk .nav li {
    border-bottom: 0 !important;
  }
  nav.shrunk .nav li:hover {
    background: #808080 !important;
  }
}

@media only screen and (min-width: 46.063em) {
  .column,
  .columns {
    position: relative;
    padding-left: 0 !important;
    float: left;
  }
}

/* blocks */

.twoblocks {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 25px;
}

.twoblocks .image {
  text-align: center !important;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 0;
}

.twoblocks .image img {
  width: auto;
  max-height: 170px;
}

.twoblocks button {
  background: #b7000e;
  padding: 10px;
  color: white;
  font-weight: 600;
  margin: 0;
  width: auto !important;
  white-space: nowrap;
  border-radius: 3px;
  border: none;
}

.twoblocks button:hover {
  color: #1c287d;
}

.twoblocks h1 {
  padding-bottom: 0px !important;
  color: #1c287d !important;
  font-family: inherit;
  font-weight: 700 !important;
  font-size: 30px;
  text-align: center !important;
}

.twoblocks .right,
.twoblocks .left {
  position: relative;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.18);
}

.twoblocks .right {
  width: 100%;
  text-align: center !important;
  display: grid;
  align-items: center;
  height: auto;
  justify-items: center;
  background: #f1f7ff;
  grid-template-columns: repeat(2, 1fr);
}

.twoblocks .right .image {
  order: 2;
}

.twoblocks .left {
  width: 100%;
  text-align: center !important;
  display: grid;
  background: #ffffff;
  position: relative;
  align-items: center;
  height: auto;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
}

.twoblocks .text p {
  line-height: 150%;
  color: gray;
  padding-bottom: 20px;
  text-align: center !important;
}

.twoblocks .text {
  vertical-align: middle;
  text-align: center !important;
  padding: 20px;
}

@media only screen and (max-width: 680px) {
  .twoblocks {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  .twoblocks .right .text {
    order: 2;
  }
  .twoblocks .image {
    padding: 20px;
  }
}

.instantoffers {
  height: 700px;
  position: relative;
  display: grid;
  width: 100%;
  align-items: start;
  background: url("https://u.realgeeks.media/marcfiorerealestate/images/instant_offer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 0px hsla(290, 62%, 48%, 0.16);
}
.instantoffers .text {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  /* background: #f1f5f8; */
}
.instantoffers .text h1 {
  font-weight: 1500 !important;
  max-width: 600px;
  color: white !important;
  line-height: 36px !important;
  font-size: 44px !important;
  margin: auto;
  text-align: center;
  font-family: Nunito !important;
  font-weight: 700;
}

.instantoffers button {
  background: #b7000e;
  padding: 10px;
  margin: 0;
  width: 200px !important;
  font-weight: 500;
  border-radius: 3px;
  font-weight: 700;
}

.instantoffers button:hover {
  color: #1c287d;
}

.instantoffers p {
  width: 80%;
  text-align: center !important;
  margin: auto !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  color: white;
}

.homevalue {
  height: 700px;
  position: relative;
  display: grid;
  width: 100%;
  align-items: start;
  background: url("https://u.realgeeks.media/marcfiorerealestate/images/home_valuation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 0px hsla(290, 62%, 48%, 0.16);
}

.homevalue .text {
  padding-top: 30px;
  width: 100%;
  text-align: center !important;
}

.homevalue .text p {
  text-align: center !important;
  margin: auto !important;
}

.homevalue .text h1 {
  margin-bottom: 20px !important;
  max-width: 600px;
  margin: auto;
  color: white !important;
  line-height: 40px !important;
  font-size: 44px !important;
  text-align: center;
  font-family: Nunito, sans-serif !important;
  font-weight: 700;
  padding-bottom: 10px;
}

.homevalue button {
  background: #b7000e;
  padding: 10px;
  margin: 0;
  width: 200px !important;
  font-weight: 500;
  border-radius: 3px;
  font-weight: 700;
}

.homevalue button:hover {
  color: #1c287d;
}

.user-content.clearfix p a {
  color: #b7000e !important;
}
.user-content.clearfix p a:hover {
  color: #1c287d !important;
}

/* home valuation */

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media only screen and (min-width: 40.063em) {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
    float: left;
  }
}

/* select */

.miranda-lb .search dd select:hover,
.on-device select[multiple="multiple"]:hover,
.styled-select select:hover,
a.multiSelect:hover {
  border: 2px solid #1c287d !important;
  background: url(https://u.realgeeks.media/marcfiorerealestate/dropdownfoc.png)
    right 10px center no-repeat !important;
  background-color: white !important;
  background-size: 15px !important;
}

.miranda-lb .search dd select:focus,
.on-device select[multiple="multiple"]:focus,
.styled-select select:focus,
a.multiSelect:focus {
  border: 2px solid #1c287d !important;
  background: url(https://u.realgeeks.media/marcfiorerealestate/dropdownfoc.png)
    right 10px center no-repeat !important;
  background-color: white !important;
  box-shadow: none;
  background-size: 15px !important;
}
.miranda-lb .search dd select,
.on-device select[multiple="multiple"],
.styled-select select,
a.multiSelect {
  background: url(https://u.realgeeks.media/marcfiorerealestate/dropdown.png)
    right 10px center no-repeat !important;
  background-color: white !important;
  color: #444;
  background-size: 15px !important;
  -webkit-transition: background-image 0.1s ease-in-out;
  transition: background-image 0.1s ease-in-out;
  border-radius: 6px;
  border: 2px solid #44444444;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 700;
  border-collapse: collapse;
}

/* advanced search */
fieldset legend {
  font-weight: bold;
  background: #fff;
  margin: 0;
  margin-left: 2.8125rem;
  padding: 15px 20px !important;
}

.advanced-submit a,
.advanced-submit input[type="submit"],
.submit a,
.submit input[type="submit"] {
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  margin-right: 10px;
  cursor: pointer;
  margin: 0 !important;
  margin-left: 20px !important;
  border: 0 !important;
  border-collapse: collapse !important;
  outline: none !important;
  text-decoration: none !important;
  background: #1c287d !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  float: right;
}

.advanced-submit a:hover,
.advanced-submit input[type="submit"]:hover,
.submit a:hover,
.submit input[type="submit"]:hover {
  background: #2b3899 !important;
}

fieldset .multiple-selects select {
  height: 355px !important;
  background: white;
  padding: 0;
  border-radius: 4px !important;
  box-shadow: 0 1px rgba(0, 0, 0, 0.0275);
}

.search-results .tabs {
  display: none !important;
}

.sub-bar {
  box-shadow: none !important;
}

.advanced-sub-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.row.search-results {
  width: 100% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.search-results .sub-bar-tabs {
  padding-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: #fff !important;
  border: 0px !important;
  text-align: center !important;
  width: 100% !important;
}
.sub-bar span.active-search {
  display: inline-block;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  white-space: nowrap;
  line-height: 30px;
  font-weight: bold;
  color: white !important;
  background: #b7000e !important;
  text-align: center !important;
  border-radius: 6px !important;
}
.sub-bar a {
  display: inline-block;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  text-align: center;
  color: #b7000e;
  background: #fff;
  cursor: pointer;
  white-space: nowrap;
  line-height: 30px;
  border: 1px solid #b7000e;
  border-radius: 6px;
}

.sub-bar a:hover {
  color: #fff;
  background: #b7000e;
}

@media only screen and (min-width: 737px) {
  .row.search-results {
    width: 100% !important;
    max-width: 1198px !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .advanced-sub-links {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}

@media only screen and (max-width: 1000px) {
  .advanced-sub-links {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media only screen and (max-width: 920px) {
  .advanced-sub-links {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media only screen and (max-width: 736px) {
  .advanced-sub-links {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (max-width: 46em) {
  .sub-bar .sub-bar-link a,
  .sub-bar .sub-bar-link span {
    display: block;
    padding: 0;
    font-weight: 500;
    line-height: 30px;
    border: 1px solid #b7000e !important;
  }
}

@media only screen and (max-width: 46em) {
  .sub-bar .sub-bar-link.advanced-sub-links a,
  .sub-bar .sub-bar-link.advanced-sub-links span {
    width: 100% !important;
    border: 1px solid #b7000e !important;
  }
}

@media only screen and (max-width: 384px) {
  .advanced-submit a,
  .advanced-submit input[type="submit"],
  .submit a,
  .submit input[type="submit"] {
    margin-bottom: 10px !important;
  }
}

/* about us */
.realtor-list span {
  color: #b7000e !important;
}

.realtor-list span:hover {
  color: #1c287d !important;
}

.realtor-list .agent {
  margin-top: 30px;
}

/* contact us */

div.rg-modal.rg-modal-contact .small-12.columns {
  padding: 15px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

div.row.lb-content.collapse.contact {
  text-align: left !important;
  padding-top: 0 !important;
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.miranda-lb .lb-content {
  margin: 0 auto;
  background: #fff !important;
  border: none;
  border-bottom: none !important;
  box-shadow: none;
}

.miranda-lb {
  padding: 15px;
  margin-bottom: 0;
}

.rag-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 5px 5px 15px 15px;
  background-position: 15px 5px;
  z-index: 1;
}

.rg-modal .rag-modal {
  z-index: 1010;
}

.rag-modal {
  padding: 50px;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  height: 100%;
  padding: 10px;
  z-index: 1;
}

.image-placeholder,
.rag-modal {
  text-align: center;
}

.rag-modal-backdrop {
  background: rgba(0, 0, 0, 0.1) !important;
  -webkit-backdrop-filter: saturate(120%) blur(5px);
  backdrop-filter: saturate(120%) blur(5px);
}

.rag-modal,
.navbar:before,
.image-placeholder,
.carousel-image,
.listing {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rg-modal .rag-modal-window {
  width: 100%;
  max-width: 600px !important;
  border-radius: 10px;
  -moz-user-select: auto;
  z-index: 2099 !important;
  -ms-user-select: auto;
  border-radius: 4px;
  -webkit-user-select: auto;
  user-select: auto;
}

.rag-modal-window {
  background: padding-box #fff;
  overflow: hidden;
  border-radius: 4px;
  border: 0;
  position: relative;
  min-width: 150px;
  min-height: 44px;
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
}

.image-placeholder:before,
.image-placeholder > *,
.rag-modal:before,
.rag-modal > * {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

div.rg-modal.rg-modal-contact h2 {
  text-align: left;
  margin-top: 10px !important;
  margin-bottom: 10px;
  padding-left: 15px;
  color: #000;
  font-size: 30px !important;
}

.miranda-lb > h2 {
  padding-top: 20px;
}

.miranda-lb h2 {
  color: #444;
  margin: 0 auto;
  padding-bottom: 5px;
  font: 500 22px/22px;
  text-align: left;
}

div.row.lb-content.collapse.contact {
  text-align: left !important;
  padding-top: 0 !important;
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.miranda-lb .lb-content {
  margin: 0 auto;
  background: #fff !important;
  border: none;
  border-bottom: none !important;
  box-shadow: none;
}

.miranda-lb .lb-content p.contact-us-description {
  font: 400 15px/21px;
  margin-bottom: 0 !important;
  color: #5d5d5d;
  border-bottom: 0.5px solid #f2f2f2 !important;
  padding: 15px 0 15px 15px;
  margin-top: 0 !important;
}

div.rg-modal.rg-modal-contact .small-12.columns > div:first-child {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}

div.rg-modal.rg-modal-contact .small-12.columns > div:nth-child(4) {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.miranda-lb .contact .styled-select {
  padding-top: 10px;
}

div.rg-modal.rg-modal-contact .small-12.columns > div:nth-child(5) {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
}

div.rg-modal.rg-modal-contact .small-12.columns > div:nth-child(6) {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.miranda-lb .lb-content label {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #444 !important;
  padding-right: 10px;
  text-align: left;
  margin-top: 0;
  padding-bottom: 5px;
  white-space: nowrap;
}

.miranda-lb .contact label {
  display: block !important;
}

.miranda-lb .contact label {
  display: inline-block !important;
  width: 100%;
}

.miranda-lb .lb-content input[type="email"],
.miranda-lb .lb-content input[type="tel"],
.miranda-lb .lb-content input[type="text"] {
  padding: 0 0 0 10px;
  margin: 0 0 5px;
  box-shadow: none;
  border-radius: 6px;
  font-weight: 400;
  color: black;
  font-size: 16px;
  border: solid 2px #dadada;
  height: 40px !important;
}

.miranda-lb .contact input[type="email"],
.miranda-lb .contact input[type="tel"],
.miranda-lb .contact input[type="text"] {
  width: 100%;
  display: inline;
  margin: 0 !important;
}

input[type="text"] {
  background-color: #fff !important;
  height: 4rem;
  border-radius: 4px;
}

.miranda-lb .contact label.long-label {
  text-align: left;
  white-space: inherit;
}

.row .row.collapse:before,
.row .row.collapse:after {
  display: none !important;
}

.miranda-lb .lb-content textarea {
  border-radius: 4px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.0275) inset;
  padding: 0px !important;
  margin-bottom: 0px !important;
}

div.rg-modal.rg-modal-contact .small-12.columns > div:last-child {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.miranda-lb .lb-content input[type="submit"] {
  background: #b7000e !important;
  color: #fff;
  padding: 4px 16px;
  border-radius: 6px;
  width: 50%;
  display: block;
  font-size: 16px;
  display: block;
  width: 50%;
  margin: 0 auto 0;
  cursor: pointer;
}

.miranda-lb .lb-content input[type="submit"]:hover {
  background: #e43a48 !important;
  color: #fff;
  padding: 4px 16px;
  border-radius: 6px;
  width: 50%;
  display: block;
  font-size: 16px;
  display: block;
  width: 50%;
  margin: 0 auto 0;
  cursor: pointer;
}

.rg-modal-signup .rag-modal-close:before,
.rg-modal-signin .rag-modal-close:before,
.rg-modal-reset .rag-modal-close:before,
.rg-modal-contact .rag-modal-close:before,
.rg-modal-savesearch .rag-modal-close:before,
.rg-modal-phonegrabber .rag-modal-close:before,
.rg-modal-facebooksignup .rag-modal-close:before {
  content: "×";
  color: #b7000e !important;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.miranda-lb .error-messages h5 {
  color: #d32a0e;
  font-weight: 500;
  margin: auto !important;
  text-align: center;
  padding-left: 20px;
}

.miranda-lb .contact input[type="submit"] {
  width: 100% !important;
}

@media only screen and (min-width: 36.063em) {
  .rg-modal .rag-modal-window {
    width: 100% !important;
  }
}

@media only screen and (min-width: 36.063em) {
  .miranda-lb .leftColumn,
  .miranda-lb .rightColumn {
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
    float: left;
  }
}

@media only screen and (min-width: 36.063em) {
  .miranda-lb .show-for-medium-up {
    display: block !important;
    text-align: center;
    font: 500 30px/30px;
    color: #000 !important;
  }
}

@media only screen and (min-width: 46.063em) {
  .rg-modal .rag-modal-window {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

@media only screen and (min-width: 36.063em) {
  .miranda-lb .lb-content form .columns {
    padding: 0;
    text-align: right;
    background: #fff;
  }
}

.social-btn {
  margin-bottom: 20px;
}

/* home vlauation */
.search-hero form button {
  background: #b7000e !important;
  color: #fff !important;
  font-weight: 600;
}

.search-hero form button:hover {
  background: #78020d !important;
  color: #fff !important;
  font-weight: 600;
}

#sticky-footer .terms-privacy,
#normal-footer .terms-privacy {
  display: none;
}

.title-terms.small-12.medium-4.columns {
  width: calc(100% / 3) !important;
  padding-top: 15px;
}

.medium-8.columns.show-for-medium-up.site-nav span {
  color: white;
  font-weight: 700;
}

.medium-8.columns.show-for-medium-up.site-nav span:hover {
  color: #b7000e !important;
  font-weight: 700;
}

#sticky-footer .terms-privacy,
#normal-footer .terms-privacy {
  display: none;
}

#normal-footer {
  position: fixed !important;
  bottom: 0;
  margin-top: 0px;
}

#sticky-footer .site-nav,
#normal-footer .site-nav {
  top: 18px !important;
}

#sticky-footer .site-nav li a:hover,
#normal-footer .site-nav li a:hover {
  color: #b7000e;
  font-size: 0.87777rem;
  font-weight: 500;
}

.search-hero h4 {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
}

.body-content .fp-header {
  margin: 35px 0 30px;
  color: #333;
}

/* blog page */
.body-content.blog .sidebar {
  display: block !important;
}

.blog-post .title a {
  color: #1c287d;
  font-family: Nunito !important;
}

.blog-post .title a:hover {
  color: #b7000e;
  font-family: Nunito !important;
}

.blog-post .title {
  margin-top: 20px !important;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 20px;
  width: 100%;
}

.blog .body-container {
  display: grid;
  grid-gap: 20px;
  padding-bottom: 0 !important;
  grid-template-columns: repeat(2, 1fr);
}
/* 
.container {
  max-width: 1140px !important;
  display: grid;
  grid-gap: 20px;
  padding-bottom: 0 !important;
  grid-template-columns: repeat(2, 1fr);
} */

.body-content:not(.blank-page) iframe[src*="youtube"] {
  max-width: 500px !important;
  max-height: 500px !important;
}

.blog-post:nth-child(2) {
  border-top: 1px solid #eee !important;
}

.blog-post .category a {
  color: #1c287d !important;
}

.blog-post .category a:hover {
  color: #b7000e !important;
}

.blog-post .comments a {
  color: #1c287d !important;
}

.blog-post .comments a:hover {
  color: #b7000e !important;
}

.body-content.blog .sidebar {
  width: 100% !important;
  display: grid !important;
  grid-gap: 20px;
  padding-bottom: 0 !important;
  grid-template-columns: repeat(3, 1fr);
}

.shareWrapper {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  display: none;
}

.sidebar .section {
  margin-top: 0px !important;
  width: 100% !important;
}

.sidebar a {
  color: #1c287d !important;
}

.sidebar a:hover {
  color: #b7000e !important;
}

.sidebar .share-menu-popup {
  background: #fff !important;
  border: 1px solid #1c287d !important;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  width: 40% !important;
  margin-bottom: 10px;
  color: #1c287d !important;
  box-shadow: 0 1px rgba(0, 0, 0, 0.0275);
}

.sidebar .share-menu-popup:hover {
  background: #eee !important;
}

@media only screen and (min-width: 1131px) {
  .iframe {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 505px) {
  .blog-post {
    min-width: 500px !important;
  }
}

@media only screen and (max-width: 1130px) {
  .blog-post {
    grid-column: span 2;
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    margin: auto !important;
  }
  .iframe {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 736px) {
  .blog-post {
    margin: 0 !important;
    text-align: center;
  }
  .iframe {
    margin-left: 0px !important;
  }
  .sidebar .share-menu-popup {
    width: 100% !important;
  }
  .blog-post .category {
    width: 50% !important;
  }
  .blog-post .comments {
    width: 50% !important;
  }
}

@media only screen and (max-width: 736px) {
  .body-content.blog .sidebar {
    width: 100% !important;
    display: block !important;
    float: left !important;
  }
}

@media only screen and (max-width: 425px) {
  .body-content.blog .sidebar {
    width: 100% !important;
    display: block !important;
    float: left !important;
  }
}

#sticky-footer .terms-privacy,
#normal-footer .terms-privacy {
  display: none !important;
}

#sticky-footer .site-nav li a,
#normal-footer .site-nav li a {
  padding-right: 20px !important;
  padding-bottom: 20px !important;
}
.site-nav.small-12.show-for-small-only {
  width: 30%;
}
#sticky-footer .site-nav ul,
#normal-footer .site-nav ul {
  padding-bottom: 20px !important;
}
.topbar {
  position: fixed !important;
}
@media only screen and (max-width: 640px) {
  .search-hero.small-11.medium-8.columns {
    margin-top: 100px !important;
  }
}
@media only screen and (max-width: 40em) {
  .search-hero h1,
  .search-hero h2,
  .search-hero h3 {
    font-size: 2rem !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .search-hero h4 {
    font-size: 1.7rem !important;
    font-weight: 300;
  }
}

.blog-post .title a {
  display: none;
}

.blog_pagination {
  position: relative;
  margin-bottom: 10px;
  display: none;
}

.body-content.blog {
  padding-top: 0px !important;
}

.blog-post .comments {
  width: 99%;
}

.blog-post .title {
  display: none !important;
}

@media only screen and (min-width: 40.063em) {
  .blog-post:nth-child(4) {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: auto !important;
  }
}

/* social icons */
.blog .body-container #mydiv {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 80%;
  margin: auto !important;
}

.blog .body-container .social-icons {
  vertical-align: middle;
  text-align: center;
  padding-bottom: 30px;
}
.blog .body-container .social-icons span {
  margin-left: 8px;
  width: 29px;
  float: none;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  padding: 15px !important;
  border-radius: 100%;
  text-align: center;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px !important;
  height: 60px !important;
}
.blog .body-container span span {
  color: white;
  top: 0;
}
.fa.fa-facebook,
.fa.fa-twitter,
.fa.fa-youtube,
.fa.fa-instagram,
.fa.fa-linkedin {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}
.social-icons .fa-facebook {
  background-color: #3b5998;
}
.social-icons .fa-facebook:hover {
  background-color: #5573b4;
}
.fa.fa-facebook:before {
  content: "\f39e";
  font-size: 30px;
}

.social-icons .fa-youtube {
  background-color: #bb0000;
}
.social-icons .fa-youtube:hover {
  background-color: #f54545;
}
.fa.fa-youtube:before {
  content: "\f167";
  font-size: 28px;
}

.social-icons .fa-instagram {
  background-color: #fb3958;
}
.social-icons .fa-instagram:hover {
  background-color: #b35262;
}
.fa.fa-instagram:before {
  content: "\f16d";
  font-size: 30px;
}

.fa.fa-linkedin:before {
  content: "\f0e1";
  font-size: 30px;
}
.social-icons .fa-linkedin {
  background-color: #007bb6;
}
.social-icons .fa-linkedin:hover {
  background-color: #048fd1;
}

.social-icons .fa-twitter {
  background-color: #4099ff;
}
.social-icons .fa-twitter:hover {
  background-color: #185faf;
}
.fa-twitter:before {
  content: "\f099";
  font-size: 30px;
}

a.topsocial {
  color: white !important;
  padding-left: 10px;
  padding-right: 10px;
}

/* .social-icons .fa-google {
  background-color: #d34836;
}

.social-icons .fa-pinterest {
  background-color: #c92228;
}

.social-icons .fa-pinterest:hover {
  background-color: #df3a41;
} */

/* .social-icons .fa-envelope-o {
  background-color: #000000;
}

.social-icons .fa-envelope-o:hover {
  background-color: #2d2d2d;
} */

/* chat box */
#gobbla .gobbla-link {
  color: #fff !important;
  background: #b7000e !important;
}
#gobbla .gobbla__head {
  background: #b80006 !important;
  border-bottom-color: #911919 !important;
}
.gobbla-visitor__topic:hover {
  background: #1c287d !important;
  color: #fff;
}

/* MLS search button*/
input.log-in {
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  margin-right: 10px;
  cursor: pointer;
  margin: 0 !important;
  margin-left: 20px !important;
  border: 0 !important;
  border-collapse: collapse !important;
  outline: none !important;
  text-decoration: none !important;
  background: #1c287d !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  float: right;
}
input.log-in:hover {
  background: #2b3899 !important;
}

.advanced-submit a,
.advanced-submit input[type="submit"],
.submit a,
.submit input[type="submit"] {
  margin-top: 25px !important;
}

.rg-modal-marketreportsignup .lightbox img {
  display: none !important;
}

/* .show-for-small-only.properties-found {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 46em) {
  .small-12.columns.results-list.properties {
    width: 100% !important;
    display: grid !important;
    grid-gap: 20px;
    padding-bottom: 0 !important;
    grid-template-columns: repeat(4, 1fr);
  }
} */
.row.property.results {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  border-top: 0 !important;
}
/*.small-12.columns.sub-bar.sub-bar-tabs {
  padding-right: 25px !important;
}*/
div#proplist_disclaimer {
  display: none !important;
}

@media only screen and (max-width: 40em) {
  a.save-search.popup {
    height: 50px !important;
    padding-top: 0 !important;
  }
  select#sort_dropdown {
    height: 50px !important;
    border: 2px solid #ddd;
  }
}

/* refine search */

@media only screen and (max-width: 46em) {
  .no-results a {
    border: 0 !important;
    border-bottom: 0 !important;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    margin-right: 10px;
    background: #1c287d !important;
    background: linear-gradient(#1c287d, #1c287d) !important;
    cursor: pointer;
    border-radius: 6px !important;
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px 0;
    visibility: visible;
    text-align: center;
  }
}
@media only screen and (max-width: 46em) {
  .no-results a:hover {
    border: 0 !important;
    border-bottom: 0 !important;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    margin-right: 10px;
    background: #496df3 !important;
    background: linear-gradient(#496df3, #496df3) !important;
    cursor: pointer;
    border-radius: 6px !important;
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px 0;
    visibility: visible;
    text-align: center;
  }
}

.mapsearch .viewport {
  top: 190px !important;
}

@media only screen and (min-width: 40.063em) {
  .small-12.columns.results-list.properties {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.property.results .view-fp.add_favorite_button,
.property.results .view-fp.delete_favorite_button {
  color: #b7000e !important;
  font-size: 0;
}
.property.results .view-fp.information {
  color: #b7000e !important;
  font-size: 0;
}
.property .property-details ul .detail:nth-child(3) {
  display: none !important;
}

@media only screen and (min-width: 46.063em) {
  .property .property-details ul {
    padding-bottom: 10px !important;
    padding-top: 3px !important;
  }
}

@media only screen and (min-width: 1140px) {
  .row.property.results {
    width: calc(100% / 4 - 80px / 4) !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 20px;
    float: left;
    box-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.18);
    background-color: #fff;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1139px) {
  .row.property.results {
    width: calc(100% / 3 - 60px / 3) !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 20px;
    float: left;
    box-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.18);
    background-color: #fff;
  }
}

@media only screen and (min-width: 737px) and (max-width: 1024px) {
  .row.property.results {
    width: calc(100% / 2 - 40px / 2) !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 20px;
    float: left;
    box-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.18);
    background-color: #fff;
  }
}

.fa-plus-square:before {
  content: "\f02e" !important;
}
.sub-bar a.save-search {
  background: #1c287d !important;
  color: #fff;
  border: none;
  border-radius: 6px !important;
}
.sub-bar a.save-search:hover {
  background: #2b3899 !important;
  color: #fff;
  border: none;
  border-radius: 6px !important;
}
.sub-bar a {
  margin-bottom: 20px !important;
}

.search-results .tabs {
  display: inline-block !important;
  position: relative;
  vertical-align: middle;
  z-index: 2;
  top: 1px;
}

.tabs {
  margin-bottom: 0 !important;
  margin-left: 0;
}

dl,
ol,
ul {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  font-family: inherit;
}

blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
  margin: 0;
  padding: 0;
}

.search-results .tabs dd.active {
  display: none;
}
.tabs .tab-title,
.tabs dd {
  position: relative;
  margin-bottom: 0 !important;
  list-style: none;
  float: left;
}
dd.property-list-link {
  background: 0 0;
  grid-column: span 2;
}
.search-results .properties-found {
  position: relative;
  line-height: 42px;
  text-align: left;
  color: #777;
  margin-bottom: 20px !important;
}
.search-results .tabs a {
  display: inline-block !important;
  color: #b7000e !important;
  cursor: pointer;
  border: 1px solid #b7000e !important;
  margin-right: 10px;
  margin-left: 10px !important;
  border-radius: 6px !important;
  background: #fff;
  font-weight: 500 !important;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  height: 42px;
  font: 16px/42px "Open Sans", Helvetica, "Segoe UI", Ubuntu, Arial, sans-serif;
  margin-bottom: 20px !important;
}
.search-results .tabs a:hover {
  background: #b7000e !important;
  color: #fff !important;
}
.tabs .tab-title > a,
.tabs dd > a {
  outline: 0;
  display: block;
  background-color: #efefef;
  color: #222;
  padding: 1rem 2rem;
  font-family: "Open Sans", Helvetica, Open Sans, Arial, sans-serif;
  font-size: 1rem;
}
.search-results .sub-bar-tabs {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.sub-bar a.save-search i {
  color: #fff !important;
}
.sub-bar a.save-search i:hover {
  color: #fff !important;
}
.sub-bar-link.small-6.medium-6.columns {
  text-align: left;
}
.fa-question:before {
  content: "\f05a" !important;
}
span.active-search {
  height: 45px !important;
}
@media only screen and (max-width: 46em) {
  .search-results .tabs a {
    width: 90% !important;
  }
}
@media only screen and (max-width: 46em) {
  .sub-bar .sub-bar-link {
    width: 100% !important;
  }
}
@media only screen and (max-width: 46em) {
  .sub-bar .sub-bar-link:last-child {
    border-right: none;
    width: 100% !important;
    margin-top: 40px !important;
  }
}
@media only screen and (max-width: 46em) {
  select#sort_dropdown {
    height: 50px !important;
    border: 2px solid #ddd;
  }
  .search-results .tabs dd {
    width: 50% !important;
  }
}

/* listing */

.property-page .prop-address h1 {
    font-size: 18px;
    font-weight: 500;
    color: #b7000e !important;
}
.sub-bar i {
    margin-right: 8px;
    color: #1c287d !important;
    font-size: 21px;
    line-height: 30px;
    float: left;
}
.sub-bar i:hover {
    margin-right: 8px;
    color: #fff !important;
    font-size: 21px;
    line-height: 30px;
    float: left;
}
.sub-bar .new-search {
    right: 6px !important;
    top: 6px !important;
    background: #fff !important;
    color: #b7000e !important;
    border: 2px solid #b7000e !important;
}
.sub-bar .new-search:hover {
    background: #b7000e !important;
    color: white !important;
}
.property-results-navigation a i {
    padding: 0 4px;
    font-size: 21px;
    color: #b7000e !important;
    vertical-align: middle;
}
.property-results-navigation a i:hover {
    padding: 0 4px;
    font-size: 21px;
    color: #c7000e !important;
    vertical-align: middle;
}
.property-details-section .prop-descrip .prop-status-ACTIVE {
    color: #b7000e !important;
}
.additional-information .company-stamp .contact_us {
    margin: 0 auto;
    padding: 12px;
    text-shadow: 0 2px 0 rgba(0,0,0,0.3);
    letter-spacing: .2px;
    color: #fff;
    background: linear-gradient(#1c287d, #1c287d) top/200% no-repeat;
    border: 1px solid #1c287d !important;
    transition: background .2s ease;
    font: 500 18px "Helvetica Neue",Helvetica,"Segoe UI",Ubuntu,Arial,sans-serif;
    border-radius: 4px;
    max-width: 300px;
}
.additional-information .company-stamp .contact_us:hover {
    background: linear-gradient(#1342c3, #1342c3) top/200% no-repeat !important;
}
.mortgage_calculator dd:last-child a {
    background-color: #b7000e !important;
    border-color: #444 !important;
}
.mortgage_calculator dd:last-child a:hover {
    background-color: #c7000e !important;
    border-color: #444 !important;
}
.fa-search:before {
    display: none !important
}
a.new-mr-search {
    position: relative !important;
    top: 0px !important;
    background: #fff !important;
    color: #b7000e !important;
    border: 2px solid #b7000e !important;
}
a.new-mr-search:hover {
    background: #b7000e !important;
    color: white !important;
}