<div class="twoblocks">
<div class="left">
<div class="image" style="text-align: center;"><img src="https://u.realgeeks.media/marcfiorerealestate/images/buy_home.png" alt="" /></div>
<div class="text" style="text-align: center;">
<h1 style="text-align: center;">Buy a Home</h1>
<p style="text-align: center;">Get everything you need in one place when it comes to buying a home</p>
<a href="https://marcfiorerealestate.realgeeks.com/search/advanced_search/"><button>Search Homes</button></a></div>
</div>
<div class="left">
<div class="image"><img src="https://u.realgeeks.media/marcfiorerealestate/images/sell_home.png" alt="" /></div>
<div class="text">
<h1>Sell a Home</h1>
<p>Get your home sold fast and easy. Our typical days to offer is as little as 7 days</p>
<a href="#"><button>See Options</button></a></div>
</div>
<div class="left">
<div class="image"><img src="https://u.realgeeks.media/marcfiorerealestate/images/find_deal.png" alt="" /></div>
<div class="text">
<h1>Deal Finder</h1>
<p>Can't find anything on the market? Let us find you a home with our Off-Market database</p>
<a class="popup" href="/member/contact/" rel="nofollow"><button>Contact Us</button></a></div>
</div>
</div>
<div class="instantoffers">
<div class="image"><img src="https://u.realgeeks.media/marcfiorerealestate/images/instant_offer.jpg" alt="" /></div>
<div class="text">
<h1>Introducing Instant Offers</h1>
<p>We will pay cash for your home and close on your timeline. We buy as is, as seen, and charge no fees.</p>
<a href="#/"><button>Get an Instant Offer</button></a></div>
</div>
<div class="homevalue">
<div class="text">
<h1>What is your home worth?</h1>
<a href="#"><button>See Your Home Value</button></a></div>
<div class="text"></div>
<div class="text"><img src="https://u.realgeeks.media/marcfiorerealestate/images/home_valuation.jpg" alt="" width="1215" height="700" /></div>
</div>
<h1>Search Boston Real Estate</h1>
<p>Our website features the best real estate search for homes, condos, land and foreclosure properties available. It is the only site you will ever need! It is easy-to-use and updated by the official Realtor&reg;&rsquo;s database every 15 minutes.&nbsp;</p>
<p>You can save searches, and get daily email alerts of new listings, price changes, sold data, and market reports. Our <a href="/map_search/results/1/1/#/?frontage=all&amp;neighborhood=all&amp;baths_min=all&amp;pool=all&amp;island=Oahu&amp;region=all&amp;page=1&amp;list_price_min=50000&amp;land_tenure=all&amp;list_price_max=all&amp;area_min=all&amp;lot_size_min=all&amp;beds_min=all&amp;per_page=20&amp;type=res&amp;type=con&amp;year_built_min=all&amp;short_sale=all&amp;view=all">Interactive Map Search</a> allows you to view properties on a map or refine your search by drawing the boundaries around the area you desire.&nbsp;</p>
<p><strong>Curious about what&rsquo;s happening in your neighborhood?</strong> You can <a href="/search/market_report_search/">create a custom market report</a> to see what&rsquo;s active, under contract, and sold in your neighborhood!&nbsp;</p>
<p>Considering selling or refinancing your home? <a href="/cma/property-valuation/">Get an INSTANT property valuation now!</a></p>
<p><a class="popup" href="/member/contact/">Contact us</a> today to find out how we can be of assistance to you!</p>